In [9]:
import joblib
import pandas as pd

#Load the trained model from the file
loaded_model = joblib.load('/Users/jeff/Documents/assignments/churn_rates_and_root_causes/src/churn_rates_and_root_causes_project.joblib')

In [12]:
#Load the dataset (train)

#telecom_churn = pd.DataFrame()
df = pd.read_csv("/Users/jeff/Documents/assignments/churn_rates_and_root_causes/data/test.csv")
df

,gender,SeniorCitizen,PhoneService,InternetService,StreamingTV,StreamingMovies,Contract,MonthlyCharges,tenure,Churn
0,Female,0,Yes,Yes,Yes,No,One year,65.60,9,No
1,Male,0,Yes,Yes,No,Yes,Month-to-month,-4.00,9,No
2,Male,0,Yes,Yes,No,No,Month-to-month,73.90,4,Yes
3,Male,1,Yes,Yes,Yes,Yes,Month-to-month,98.00,13,Yes
4,Female,1,Yes,Yes,Yes,No,Month-to-month,83.90,3,Yes
...,...,...,...,...,...,...,...,...,...,...
7038,Female,0,Yes,Yes,No,No,One year,55.15,13,No
7039,Male,0,Yes,Yes,No,Yes,Month-to-month,85.10,22,Yes
7040,Male,0,Yes,Yes,No,No,Month-to-month,50.30,2,No
7041,Male,0,Yes,Yes,No,Yes,Two year,67.85,67,No
7042,Male,0,No,Yes,Yes,Yes,Two year,59.00,63,No

In [14]:
X=df.drop(columns=['Churn'])
y = df['Churn']

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           7043 non-null   object
 1   SeniorCitizen    7043 non-null   int64
 2   PhoneService     7043 non-null   object
 3   InternetService  7043 non-null   object
 4   StreamingTV      5517 non-null   object
 5   StreamingMovies  5517 non-null   object
 6   Contract         7043 non-null   object
 7   MonthlyCharges   7043 non-null   float64
 8   tenure           7043 non-null   int64
 9   Churn            7043 non-null   object
dtypes: float64(1), int64(2), object(7)
memory usage: 550.4+ KB

In [15]:
#Make predictions using the loaded model
predictions = loaded_model.predict(X)

print("Predictions:", predictions)

Predictions: ['No' 'No' 'Yes' ... 'No' 'No' 'No']